//
// _table.scss
//

.table {
    th {
        border-top: none;
        font-weight: $font-weight-bold;
        border-bottom: 1px solid $gray-400 !important;
    }

    tbody tr {
        &:hover {
            background: $gray-300;
            transition-duration: 0.05s;
        }
        td {
            border-top: none;
            border-bottom: 1px solid $gray-300;
            margin: 0.2rem;
        }
    }
}

//Table centered
.table-centered {
    td,
    th {
        vertical-align: middle !important;
    }
    tr {
        text-align: center;
    }
}

.table-nowrap {
    th,
    td {
        white-space: nowrap;
    }
}
