//
// _table.scss
//

.table {
    th {
        border-top: none;
        font-weight: $font-weight-bold;
        border-bottom: 1px solid $gray-400 !important;
    }

    tbody tr {
        &:hover {
            background: $gray-300;
            transition-duration: 0.05s;
        }
        td {
            border-top: none;
            border-bottom: 1px solid $gray-300;
            padding-top: 0.2rem !important;
            padding-bottom: 0.2rem !important;
        }
    }
}

//Table centered
.table-centered {
    td,
    th {
        vertical-align: middle !important;
    }
    tr {
        text-align: center;
    }
}

.table-nowrap {
    th,
    td {
        white-space: nowrap;
    }
}

.main-table thead,
.main-table tbody {
    display: block;
}

$table-top-margin: calc(100vh - 200px);

.main-table tbody {
    max-height: $table-top-margin;
    overflow: auto;
}
