//
// _table.scss
//

.table {
    th {
        font-weight: $font-weight-bold;
    }

    tr {
        &:hover {
            background: $gray-300;
            transition-duration: 0.05s;
        }
        td {
            border-top: none;
            border-bottom: 1px solid $gray-300;
        }
    }
}

//Table centered
.table-centered {
    td,
    th {
        vertical-align: middle !important;
    }
}

.table-nowrap {
    th,
    td {
        white-space: nowrap;
    }
}
